<% @ratings = Review.where(product_id: product).pluck(:rating) %>
<% rating = @ratings.sum / @ratings.size.to_f %>

<article class="product">
  <header>
    <%= link_to product do %>
      <%= image_tag product.image.thumb, alt: product.name %>
      <h4><%= product.name %></h4>
    <% end %>
  </header>
  <h4 class="average-rating">

    <% if rating > 0 %>
      <% (1..rating.to_i).each do |star| %>
        <i class="fa fa-star" aria-hidden="true"></i>
      <% end %>
      <% (rating.to_i..4).each do |star| %>
        <i class="fa fa-star-o" aria-hidden="true"></i>
      <% end %>
    <% else %>
      No ratings yet
    <% end %>
  </h4>
  <p class="description">
    <%= product.description %>
  </p>
  <footer class="actions">
    <%= link_to add_item_cart_path(product_id: product.id), class: 'btn btn-primary', method: :put do %>
      <%= fa_icon "shopping-cart", text: 'Add' %>
    <% end %>
    <%= link_to product, class: 'btn btn-default pull-right' do %>
      Details &raquo;
    <% end %>
  </footer>

  <aside class="price">
    <%= humanized_money_with_symbol product.price %>
  </aside>
  <% if product.quantity == 0 %>
  <aside class="sold-out">
    SOLD OUT!
  </aside>
  <% end %>
</article>
